DB_SSL_CERT="filepath"
DB_SSL_KEY="filepath"
POSTGRES_HOST="DB host"
POSTGRES_USER="DB user"
POSTGRES_PASSWORD="DB password"
POSTGRES_PORT="DB port"
POSTGRES_DB="DB name"
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=require&sslcert=${DB_SSL_CERT}&sslkey=${DB_SSL_KEY}


JWT_SECRET=

PORT=

DOMAIN=localhost
SAME_SITE=none
SECURE_REFRESH_TOKEN=false

FRONTEND_URL="frontend-url"
API_URL="api-url (this app)"

EMAIL_HOST="email server url"
EMAIL_PORT="email server port"
EMAIL_SECURE=false
EMAIL_USER="email user"
EMAIL_PASS="email password"
EMAIL_CONFIRMATION_MESSAGE_FILE=email-confirmation.html
CHANGE_EMAIL_CONFIRMATION_MESSAGE_FILE=change-email-confirmation.html
RESET_PASSWORD_CONFIRMATION_MESSAGE_FILE=reset-password.html

TELEGRAM_BOT_TOKEN=